.box {
    height: 200px;
    width: 50vw;
    padding: 5vw;
    background-color: red;
}

.parent-box {
    width: 50%;
    background-color: red;
    height: 200px;
}

.box2 {
    width: 100%;
    background-color: yellow;
    height: 150px;
}