.box {
    width: 500px;
    height: 500px;
    background-color: blue;
    transform: rotate(40deg);
}

.chizq {
    margin-top: 100px;
    border: 5px solid red;
}

.box2 {
    height: 100px;
    background-color: blue;
    transform: rotate(45deg);
    transform-origin: top right;
}

