.gradient-box {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to right, blue, red);
}

.gradient-box1 {
    width: 500px;
    height: 600px;
    background-image: radial-gradient(circle, blue, yellow, red);
}

.gradient-box2 {
    filter: blur(2px);
}

.gradient-box3 {
    filter: brightness(0.3);
}

.gradient-box4 {
    filter: contrast(0.5);
}

.gradient-box5 {
    filter: grayscale(0.7);
}

.gradient-box6 {
    filter: hue-rotate(180deg);
}

.gradient-box7 {
    filter: invert(100%);
}

.gradient-box8 {
    filter: opacity(50%);
}